.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin-top: 12px;
}

.card__title {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #212121;
  max-width: 353px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__like-button-liked {
  background-image: url(../images/likedheart.svg);
  opacity: 100%;
  background-repeat: no-repeat;
}
.card__like-button-liked:hover {
  background-image: url(../images/likedhovered.svg);
  background-repeat: no-repeat;
}

.card__trash-button {
  background-image: url(../images/trash.svg);
  cursor: pointer;
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-top: 20px;
  top: 10px;
  right: 10px;
  left: 371px;
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
}

.card__trash-button:hover {
  background-image: url(../images/trash-hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    width: 245px;
  }

  .card__trash-button {
    width: 32px;
    height: 32px;
    top: 10px;
    left: 226px;
  }
}
