.footer {
  background-color: antiquewhite;
  font-family: "poppins" Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
  max-width: 104px;
  max-height: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
